* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  --primary: #1a1a23;
  --accent: #4a80f0;
  --bg: #fdfdfd;
  font-family: "Lato", sans-serif;
}

body {
  background: blanchedalmond;
}

.container {
  border-radius: 40px;
  width: 70vw;
  height: 100vh;
  margin: 0 auto;
  background: linear-gradient(90deg, var(--primary) 25%, var(--bg) 0%);
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.library {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  background: transparent;
  grid-gap: 25px;
}

input[type="text"],
input[type="number"],
fieldset,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  all: unset;
}

.form {
  display: grid;
  align-items: center;
  justify-items: center;
}

legend {
  color: white;
  font-size: 1.5rem;
}

fieldset {
  display: grid;
  grid-gap: 20px;
  padding: 30px;
}

input[type="text"],
input[type="number"] {
  width: 100%;
  padding: 0.5rem;
  background: var(--bg);
  border-radius: 3px;
}

.checkbox-input {
  display: grid;
  grid-template-columns: auto auto;
}

.form label {
  display: block;
  color: white;
  padding-bottom: 0.4rem;
}

button.add-book {
  width: 95%;
  padding: 14px;
  background: var(--accent);
  border-radius: 13px;
  text-align: center;
  color: white;
  font-weight: bold;
}

button.add-book:hover,
.form-input:hover {
  cursor: pointer;
}

button.add-book:hover {
  opacity: 0.6;
}
